body{
    background-color: #2f2f2f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

.contenedor-tarea-creada{
    background-color: #545454;
}
.tarea{
    text-align: center;
    color: aliceblue;
}